body {
    background-image: linear-gradient(to right, rgb(255, 161, 73), rgb(255, 73, 209), rgb(73, 101, 255));
}
.game-title {
    background-image: linear-gradient(to right, rgb(255, 207, 118), rgb(255, 118, 214), rgb(118, 127, 255));
}
.title {
    color: rgb(29, 12, 92);
    text-align: center;
    margin: 10px;
}
#word {
    width: 100%;
    padding: 5px;
    text-align: center;
    font-size: 2em;
}

.answer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.answer {
    width: 140px;
    height: 140px;
    border: none;
    border-bottom: 40px solid rgb(29, 12, 92);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    margin: 8px;
    transition: all .3s ease;
}
.answer:hover {
    transform: scale(1.05);
}


@media (max-width: 720px) {
    .answers-container {
        display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 1vw 0 4vw 0;
    
    }
    .answer {
        width: 30vw;
        height: 30vw;
        border: none;
        border-bottom: 5vw solid rgb(29, 12, 92);
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        margin: 3vw;
        justify-self: baseline;
        transition: all .3s ease;
    }
    #word {
        font-size: 1.2em;
    }
    .title {
        font-size: 0.8em;
    }
    body {
        background-size: 100vw 100vh;
        background-attachment: fixed;
    }
}