<ul>
    <li>Трохимчук Артем --- <a href="projects/mlnr/public/index.html">Хто хоче
                    стати мільйонером</a> або <a
                                                               href="http://mlnr.rf.gd/">mlnr.rf.gd</a></li>
	<li>Крижанівська Маргарита --- <a href="projects/Corona-Games/index.html">Corona Games</a></li>
	<li>Кримова Крістіна та Ярошевич Олександр --- <a href="projects/jsproject/index.html">JS project</a></li>
	<li>Рудник Богдан --- <a href = "projects/rudnik-proj/Music.html">Вгадай
                Мелодію</a></li>
	<li>Воровська Єва --- <a href = "projects/Proekt/Minesweeper.html">Minesweeper</a></li>
<li>Палагнюк Ярослав --- <a href = "projects/Yaroslav/tictactoe.html">TicTacToe</a></li>
<li>Недосєк Олександр --- <a href = "projects/Nedosiek/index.html">MiniGameToTrip</a></li>
<li>Добряк Олег --- <a href="http://феном.укр">Мандруй до своєї мрії</a></li>
<li>Вовчок Владислава --- <a href="projects/Vovchok/index.html">Speed Typer</a></li>
<li>Ганжа Михайло --- <a href="projects/Shibenizia/index.html">Shibenizia</a></li>
<li>Прасол Крістіна --- <a href="https://ivanprasol.github.io/maze/">Minotaur maze</a></li>
<li>Васянович Владислав --- <a href="projects/VladVas/index.html">Pikabu</a></li>
<li>Бурлака Ігор --- <a href="projects/Igor/Snake Game.html">Snake</a></li>
<li>Бабенко Міша --- <a href="projects/worldofdwarves/index.html">worldofdwarves</a></li>
<li>Кубрак Анастасія --- <a href="projects/SchoolYear/schoolyear.html">SchoolYear</a></li>
</ul>
