
body, .game-title {
    background-image: linear-gradient(to bottom, rgb(113,48,253), rgb(152,45,156));
}


.score-board {
    border: 2px solid white;
    width: 180px;
    margin: 0px auto;
    color: white;
    font-size: 1.2em;
    border-radius: 4px;
    text-align: center;
    
    padding: 15px 20px;
    position: relative;
}

.badge {
    background: #c94b42;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
}
#user-label {
    position: absolute;
    top: 25px;
    left: -25px;
}
#computer-label {
    position: absolute;
    top: 25px;
    right: -30px;
}
.result {
    font-size: 1em;
    color: white;

}
.result p {
    text-align: center;
    font-weight: 500;
}
.choices {
    text-align: center;
    margin-top: 20px;
}
.choice{
    display: inline-block;
    margin: 0 20px;
    padding: 10px;
    border: 4px white solid;
    border-radius: 50%;
    transition: .3s all ease;
}
.choice img {
    width: 80px;
    filter: invert();
    -webkit-filter: invert();
    
}

.choice:hover {
    cursor: pointer;
    background: #00000060

}

#action-message {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 0.8em;
    margin: 10px 0;
}/*
#rounds {
    z-index: 40;
    background: rgba(0, 0, 0, .8);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
#rounds{
    display: flex;
   
}*/
#rounds p {
    font-size: 1.5em;
}
#rounds span {
    max-width: 800px;
}

.rounds-number-btn {
    font-size: 0.9em;
    border: 3px solid white;
    border-radius: 6px;
    padding: 20px 15px;
    margin: 10px 5px;
    background: none;
    color: white;
    transition: .3s all ease;
}
.rounds-number-btn:hover {
    background: white;
    color: #231d31;
    
}

#rounds-number {
    margin: 10px 0;
    font-size: 1em;
    text-align: center;
    color: white;
}
.win {
    border: 4px rgb(0, 255, 34) solid;
    box-shadow: 0 0 10px rgb(0, 107, 14);
}
.lose {
    border: 4px rgb(255, 0, 0) solid;
    box-shadow: 0 0 10px rgb(107, 0, 0);  
}
.draw {
    border: 4px rgb(99, 99, 99) solid;
    box-shadow: 0 0 10px rgb(39, 39, 39);
}
.small-img {
    width: 60px;
    filter: invert();
    position: relative;
    bottom: -25px;
    right: -5px;
}

@media (max-width: 720px) {
    .choices {
        text-align: center;
        margin-top: 20px;
    }
    
    .choice img {
        width: 15vw;
        filter: invert();
        -webkit-filter: invert();
        
    }
    body {
        background-size: 100vw 100vh;
        background-attachment: fixed;
    }
    .menu h1 {
        font-size: 1.3em;
    }
    #rounds span {
        max-width: 90vw;
    }
    .result {
        font-size: 0.8em;
        
    
    }
    .small-img {
        width: 40px;
        filter: invert();
        position: relative;
        bottom: -20px;
        right: -5px;
    }
    font {
        font-size: 0.3;
    }
}